.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: #878787;
  background-color: rgb(255, 249, 241);
}
.Weather form {
  margin-bottom: 30px;
  
}
.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 29px;
  text-align:center ;
  color: rgb(17, 59, 2);
  
  
}
.Weather ul {
  margin: 0;
  padding: 0;
  text-align:center
 
}
.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  
}




.WeatherTemperature {
 font-weight: 400px;
 font-size: 64px;
 color: rgb(33, 33, 33);
 line-height: 100px;
 text-align: center;
 margin-bottom: -20px;
 

 
 
}
.units {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: -1;
  top: -34px;
  margin-left: 0px;
}
